{% extends "base.html" %}
{% load static %}

{% block title %}Home - TwitPlex{% endblock title %}Home - TwitPlex


{% block body %}
<section data-bs-version="5.1" class="b">

</section>
<section data-bs-version="5.1" class="article07 cid-u9LgirLGy7" id="article20-i">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-7">
        <div class="card-wrapper twit">
          <div class="col-12 content-head d-flex flex-column">
            <div class="twit-first d-flex flex-row">
              <div class="img-a">
                <img src="{% static "img/avatar.jpg" %}" alt="avatar" class="twit-avatar">
              </div>
          
              <div class="cont-title">
                <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-2 d-flex align-items-center tw-t">
                  <strong class=""> Engineering </strong><span class="gray">@XEng · Apr 13</span></h3>
                </h3>
              </div>
            </div>
            <div class="twit-second">
              <div class="counter-container mbr-text mbr-fonts-style display-7 tw-tx">
                <p>We identified an issue that caused Spaces hosts to get kicked out of the Space they were hosting on iOS. Unable to rejoin, the Space then ended. <br><br>

                  We pushed a fix this morning addressing this issue, and it's now available to all iOS users. <br><br>
                  
                  Make sure to update your app to 10.36.2…</p>
                  
              </div>
            </div>
          </div>
          <div class="align-left twit-react">
            <div class="svg-i"><i class="fi fi-rs-heart "></i><span class="react-t">46,5K</span></div>
            <div class="svg-i"><i class="fi fi-rs-comment-dots"></i><span class="react-t">6,3K</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-undo"></i><span class="react-t">953</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-bookmark cur-pos"></i><span class="react-t">1,3K</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article07 cid-u9LgirLGy7" id="article20-i">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-7">
        <div class="card-wrapper twit">
          <div class="col-12 content-head d-flex flex-column">
            <div class="twit-first d-flex flex-row">
              <div class="img-a">
                <img src="{% static "img/avatar.jpg" %}" alt="avatar" class="twit-avatar">
              </div>
          
              <div class="cont-title">
                <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-2 d-flex align-items-center tw-t">
                  <strong class=""> Engineering </strong><span class="gray">@XEng · Apr 13</span></h3>
                </h3>
              </div>
            </div>
            <div class="twit-second">
              <div class="counter-container mbr-text mbr-fonts-style display-7 tw-tx">
                <p>We identified an issue that caused Spaces hosts to get kicked out of the Space they were hosting on iOS. Unable to rejoin, the Space then ended. <br><br>

                  We pushed a fix this morning addressing this issue, and it's now available to all iOS users. <br><br>
                  
                  Make sure to update your app to 10.36.2…</p>
                  
              </div>
            </div>
          </div>
          <div class="align-left twit-react">
            <div class="svg-i"><i class="fi fi-rs-heart "></i><span class="react-t">46,5K</span></div>
            <div class="svg-i"><i class="fi fi-rs-comment-dots"></i><span class="react-t">6,3K</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-undo"></i><span class="react-t">953</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-bookmark cur-pos"></i><span class="react-t">1,3K</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article07 cid-u9LgirLGy7" id="article20-i">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-7">
        <div class="card-wrapper twit">
          <div class="col-12 content-head d-flex flex-column">
            <div class="twit-first d-flex flex-row">
              <div class="img-a">
                <img src="{% static "img/avatar.jpg" %}" alt="avatar" class="twit-avatar">
              </div>
          
              <div class="cont-title">
                <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-2 d-flex align-items-center tw-t">
                  <strong class=""> Engineering </strong><span class="gray">@XEng · Apr 13</span></h3>
                </h3>
              </div>
            </div>
            <div class="twit-second">
              <div class="counter-container mbr-text mbr-fonts-style display-7 tw-tx">
                <p>We identified an issue that caused Spaces hosts to get kicked out of the Space they were hosting on iOS. Unable to rejoin, the Space then ended. <br><br>

                  We pushed a fix this morning addressing this issue, and it's now available to all iOS users. <br><br>
                  
                  Make sure to update your app to 10.36.2…</p>
                  
              </div>
            </div>
          </div>
          <div class="align-left twit-react">
            <div class="svg-i"><i class="fi fi-rs-heart "></i><span class="react-t">46,5K</span></div>
            <div class="svg-i"><i class="fi fi-rs-comment-dots"></i><span class="react-t">6,3K</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-undo"></i><span class="react-t">953</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-bookmark cur-pos"></i><span class="react-t">1,3K</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article07 cid-u9LgirLGy7" id="article20-i">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-7">
        <div class="card-wrapper twit">
          <div class="col-12 content-head d-flex flex-column">
            <div class="twit-first d-flex flex-row">
              <div class="img-a">
                <img src="{% static "img/avatar.jpg" %}" alt="avatar" class="twit-avatar">
              </div>
          
              <div class="cont-title">
                <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-2 d-flex align-items-center tw-t">
                  <strong class=""> Engineering </strong><span class="gray">@XEng · Apr 13</span></h3>
                </h3>
              </div>
            </div>
            <div class="twit-second">
              <div class="counter-container mbr-text mbr-fonts-style display-7 tw-tx">
                <p>We identified an issue that caused Spaces hosts to get kicked out of the Space they were hosting on iOS. Unable to rejoin, the Space then ended. <br><br>

                  We pushed a fix this morning addressing this issue, and it's now available to all iOS users. <br><br>
                  
                  Make sure to update your app to 10.36.2…</p>
                  
              </div>
            </div>
          </div>
          <div class="align-left twit-react">
            <div class="svg-i"><i class="fi fi-rs-heart "></i><span class="react-t">46,5K</span></div>
            <div class="svg-i"><i class="fi fi-rs-comment-dots"></i><span class="react-t">6,3K</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-undo"></i><span class="react-t">953</span></div>
            <div class="svg-i d-flex"><i class="fi fi-rr-bookmark cur-pos"></i><span class="react-t">1,3K</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
{% endblock body %}