{% extends "base.html" %}
{% load static %}
{% load tweet_tags %}

{% block title %}Home - TwitPlex{% endblock title %}Home - TwitPlex


{% block body %}
<section data-bs-version="5.1" class="b">

</section>
{% for tw in tweets %}
<section data-bs-version="5.1" class="article07 cid-u9LgirLGy7" id="article20-i">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card col-md-12 col-lg-7">
        <div class="card-wrapper twit">
          <div class="col-12 content-head d-flex flex-column">
            <div class="twit-first d-flex flex-row">
              <div class="img-a">
                {% if tw.owner.image %}
                <a href="{{ tw.owner.image.url }}"><img src="{{ tw.owner.image.url }}" alt="avatar" class="twit-avatar"></a>
                {% else %}
                <img src="{% static "img/no_avatar.jpg" %}" alt="avatar" class="twit-avatar">
                {% endif %}
              </div>
          
              <div class="cont-title">
                <h3 class="mbr-section-title mbr-fonts-style align-left mb-0 display-2 d-flex align-items-center tw-t">
                  <strong class=""> {{ tw.owner.name|capfirst }} </strong><span class="gray">@{{ tw.owner|capfirst }} ·
                      {% if tw.time_create.year == current_year %}
                          {{ tw.time_create|date:"M d" }}
                      {% else %}
                          {{ tw.time_create|date:"M d, Y" }}
                      {% endif %}
                  </span>
                </h3>
              </div>
            </div>
            <div class="twit-second">
              <div class="counter-container mbr-text mbr-fonts-style display-7 tw-tx">
                <p>{{ tw.tweet|linebreaks }}</p>
                  
              </div>
            </div>
          </div>
          {% include "main/include/tweet-reacts.html" %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
    

 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/htmx.org@^1.6.1/dist/htmx.min.js"></script>

{% if request.user.is_authenticated %}
{% comment %} <script>
  $(document).ready(function(){
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $('.like-btn').click(function(){
        var tweet_id = $(this).data('tweet-id');
        var like_btn = $(this);
        var csrftoken = getCookie('csrftoken');
        var like_icon = like_btn.find('i');
        $.ajax({
            url: 'ajax/like_tweet/',
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: {'tweet_id': tweet_id},
            success: function(data){
                console.log('Success:', data); // Отладочный вывод успешного ответа в консоль
                console.log('Liked:', data.liked); // Отладочный вывод статуса лайка в консоль
                if (data.liked) {
                    like_icon.removeClass('fi-rs-heart').addClass('fi-ss-heart');
                } else {
                    like_icon.removeClass('fi-ss-heart').addClass('fi-rs-heart');
                }
                like_btn.siblings('.react-t').text(data.likes_count); // Обновляем количество лайков
            },
            error: function(xhr, status, error) {
                console.error('Error:', error); // Отладочный вывод ошибки в консоль
            }
        });
    }); // Закрывающая скобка для обработчика события лайков

    $('.favorites-btn').click(function(){
        var tweet_id = $(this).data('tweet-id');
        var favorites_btn = $(this);
        var csrftoken = getCookie('csrftoken');
        var favorites_icon = favorites_btn.find('i');
        $.ajax({
            url: 'ajax/favorites_tweet/',
            method: 'POST',
            headers: {'X-CSRFToken': csrftoken},
            data: {'tweet_id': tweet_id},
            success: function(data){
              console.log('Success:', data); // Отладочный вывод успешного ответа в консоль
              console.log('favorites:', data.favorites); // Отладочный вывод статуса лайка в консоль
              if (data.favorites) {
                  favorites_icon.removeClass('fi-rr-bookmark').addClass('fi-sr-bookmark');
              } else {
                  favorites_icon.removeClass('fi-sr-bookmark').addClass('fi-rr-bookmark');
              }
              favorites_btn.siblings('.react-t').text(data.favorites_count); // Обновляем количество избранных

          },
          error: function(xhr, status, error) {
              console.error('Error:', error); // Отладочный вывод ошибки в консоль
          }
        });
    }); // Закрывающая скобка для обработчика события добавления в избранное
});
</script> {% endcomment %}
{% endif %}

    
    
{% endblock body %}