{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{% static 'assets/images/logo.png' %}" type="image/x-icon">
  <meta name="description" content="TwitPlex is a platform for sharing thoughts, ideas and news. Here you can create and post tweets, share your opinion and be inspired by the content of other users. Keep track of the latest trends, join discussions, make new friends and chat with like-minded people. Join TwitPlex and discover endless opportunities to communicate and share ideas!">
  
  
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'assets/web/assets/mobirise-icons2/mobirise2.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-grid.min.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap-reboot.min.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/animatecss/animate.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/dropdown/css/style.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/socicon/css/styles.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/theme/css/style.css' %}" >
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap"></noscript>
  <link rel="preload" as="style" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" >
  <link rel="stylesheet" href="{% static 'assets/mobirise/css/mbr-additional.css' %}" type="text/css">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
  <link rel="stylesheet" href="{% static 'css/css.css' %}" >

  
  
  
</head>

<header>
    <section data-bs-version="5.1" class="menu menu1 cid-sFGzlAXw3z" once="menu" id="menu1-2">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <div class="container mycont">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="{% url "main:index" %}" class="d-flex align-items-center">
                            <img src="{% static "assets/images/logo.png" %}" alt="Mobirise Website Builder" class="logo-br">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-5" href="{% url "main:index" %}">TwitPlex</a></span>
                </div>
                <div class="navbar">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="{% url "main:index" %}"><span class="mobi-mbri mobi-mbri-home mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span><span class="cl-dn">Home</span></a></li>
                        <li class="nav-item s-n-i"><a class="nav-link link text-white text-primary display-4" href="index.html#features19-a"><span class="mobi-mbri mobi-mbri-search mbr-iconfont mbr-iconfont-btn" style="font-size: 17px; color: rgb(255, 255, 255);"></span><span class="cl-dn">Search</span></a></li>
                        <li class="nav-item"><a class="nav-link link text-white text-primary display-4" href="index.html#features20-4"><span class="mobi-mbri mobi-mbri-alert mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span><span class="cl-dn">Notifications</span></a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link link text-white text-primary display-4 nav-last" href="index.html#features10-5"><span class="mobi-mbri mobi-mbri-user mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span><span class="cl-dn">Profile</span></a></li>
                            {% if request.user.is_superuser %}
                                <li class="nav-item"><a class="nav-link link text-white text-primary display-4 nav-last" href="{% url "admin:index" %}"><span class="mobi-mbri mobi-mbri-lock mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span><span class="cl-dn">&nbsp;Admin</span></a></li>
                            {% endif %}
                        {% else %}
                            <li class="nav-item"><a class="nav-link link text-white text-primary display-4 nav-last" href="{% url "admin:index" %}"><span class="mobi-mbri mobi-mbri-user mbr-iconfont mbr-iconfont-btn" style="color: rgb(255, 255, 255);"></span><span class="cl-dn">Login</span></a></li>
                        {% endif %}
                    </ul>
                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4 mybtn" href="#">{% if current_page %}First{% endif %} Tweet</a></div>
                </div>
            </div>
        </nav>
    </section>
</header>

<body>
    {% block body %}
    {% endblock body %}
</body>

<footer>
    <section data-bs-version="5.1" class="footer7 cid-u9LaJnYOaG" once="footers" id="footer7-1">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7">
                        © Copyright 2025 TwitPlex - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div id="scrollToTop" class="scrollToTop mbr-arrow-up">
        <a style="text-align: center;">
            <i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i>
        </a>
    </div>
    <input name="animation" type="hidden">
</footer>

<script src="{% static "assets/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "assets/smoothscroll/smooth-scroll.js" %}"></script>
<script src="{% static "assets/dropdown/js/navbar-dropdown.js" %}"></script>
<script src="{% static "assets/ytplayer/index.js" %}"></script>
<script src="{% static "assets/theme/js/script.js" %}"></script>

</html>